      
<p-dialog [header]="dialogHeader" [(visible)]="dialog"  [responsive]="true" showEffect="fade" [modal]="true" [closable]="false">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="ui-grid ui-grid-responsive ui-fluid" *ngIf="employee" ngModelGroup="data" >
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="name">Name</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" pInputText id="name" placeholder={{employee.name}} 
          [ngModel]="employee.name" name="employee.name" required minlength="3" maxlength="15"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="city">City</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" pInputText id="city" placeholder={{employee.city}}
          [ngModel]="employee.city" name="employee.city" required minlength="3"  maxlength="15"/>
        </div>
      </div>
      <div class="ui-grid-row">
        <div class="ui-grid-col-4">
          <label for="department">Department</label>
        </div>
        <div class="ui-grid-col-8">
          <input type="text" pInputText id="department" placeholder={{employee.department}}
          [ngModel]="employee.department" name="employee.department" required minlength="3"  maxlength="15" />
        </div>
      </div>
    </div>
    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-fw fa-close" class="ui-button-secondary" (click)="functionToCloseDialog()" label="Close"></button>
        <button type="submit" pButton icon="fa-check" [disabled]="!f.valid" label="Save" ></button>
      </div>
    </p-footer>
  </form>
</p-dialog>