<h1>
    Dashboard
</h1>
<p-dataTable [value]="data" selectionMode="single" [rows]="10" [(selection)]="selected" (onRowSelect)="onRowSelect($event)"
    [paginator]="true" [pageLinks]="3" [responsive]="true" [immutable]="false">
    <p-column field="id" header="Id" [sortable]="true"></p-column>
    <p-column field="name" header="Name" [sortable]="true"></p-column>
    <p-column field="city" header="City" [sortable]="true"></p-column>
    <p-column field="department" header="Department" [sortable]="true"></p-column>
    <p-footer>
        <div class="ui-helper-clearfix" style="width:100%">
            <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialog()" label="Add"></button>
            <button type="button" pButton icon="fa-close" (click)="delete()" label="Delete" [disabled]="!selected"></button>
            <button type="button" pButton icon="fa-edit" (click)="update()" label="Update" [disabled]="!selected"></button>
        </div>
    </p-footer>
</p-dataTable>
<app-dialog [employee]="employee" [dialog]="show" (change)="dialogChange($event)"
(add)="save($event)" [dialogHeader]="header" ></app-dialog>
<p-growl [(value)]="msgs"></p-growl>

<app-nmp></app-nmp>